*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: arial;
}



/*Main calculator design*/

.background
{
    height: 285px;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px; 
    background: skyblue;
}


.calculator__screen
{
    height: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(32, 32, 32);
    color: lightgray;
    text-align: right;
    padding: 30px;
    padding-right: 18px;
}

/*Operators positionning*/
.calculator__operators
{
    display: flex;
    justify-content: center;
    height: 35px;
}

.operator
{
    width: 25%;
}

/*Result and Numbers pré-agencement*/
.container-nb-rslt
{
    display: flex;
}



/*Numbers positionning*/
.calculator__numbers
{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.number
{
    width: 33.33%;
    background: white;
}

.arrow
{
    width: 66%;
}

/*Result positionning*/
.calculator__result
{
    width: 25%;
}

.result
{
    width: 100%;
    height: 138px;
    background: rgb(218, 61, 33);
}

button
{
    border: solid lightgrey 1px;
}
